# Node
server/node_modules/
server/build/
server/*.log
server/.env

# Unity
unity-package/Tests/**/Library/
unity-package/Tests/**/Temp/
unity-package/Tests/**/Logs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo
*.unityproj

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
